/* styles from Carousel components */
/* .slick-container{
  display: inline;
  height: auto;
}  */
.slick-title{
  background: var(--color-black);
  color: rgb(196, 57, 57);
  font-size: 3rem;
  padding-left: 1rem;
}
.slick-slide img{
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
.slick-slider{
  background: var(--color-black);
}

.slick-prev{
  position: absolute;
  margin: auto;
  bottom: -0rem;
  right: 1rem; 
  z-index: 3;
}

.slick-next{
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  margin: auto;
  width: 3rem;
  z-index: 3;
}
.slick-left-arrow{
  height: 2rem;
  width: 3rem;
}
.slick-right-arrow{
  height: 2rem;
  width: 3rem;
}
/* .slick-prev:before {
  display: inline;
  content: '>';
} */
/* .slick-next:before {
  display: inline;
  content: '<';
} */

.product-title{
  color: aliceblue;
  margin-left: 1rem;
}
.simple-slider {
  background-color: black;
  border-radius: black;
}

.simple-slider .slick-next {
  right: 1.5rem;
  top: 3rem;
}

.simple-slider .slick-slider {
  padding-top: 6rem;
}

.simple-slider .slick-next:before {
  content: '>';
  color: var(--black);
  font-size: 3.5rem;
  font-weight: bold;
}

.simple-slider .slick-prev {
  left: 1.5rem;
  top: 3rem;
}

.simple-slider .slick-prev:before {
  content: '<';
  color: var(--black);
  font-size: 3.5rem;
  font-weight: bold;
}

.mobil-image-section{
  border-radius: var(--second-border-radius);
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 36rem) {
  .simple-slider {
    width: 80%;
  }
}

@media only screen and (min-width: 64rem) {
  .mobile {
    display: none;
  }
}
